#Compiled object files
*.o
*.mod
*.smod

#Output files
*.data
*.dat
*.bin

#Executables
run_profiler
run_new
run_le
run_wd
test

#My Save Files 
*.csv 

#My foldeers
/0.Original
/test_miles
/Miles_Compare
/particle_*

*ipynb